<div class="main_container">
    <div class="box">
        <h1>Personal Informations</h1>
        <h2>{{userInformation.name}}</h2>
        <p><b>Email:</b> {{userInformation.email}}</p>
        <p><b>Role:</b> {{userInformation.role}}</p>
        <p align="Justify"><b>Description:</b> Lorem ipsum blandit nibh suscipit enim blandit turpis interdum, lorem velit risus scelerisque molestie lectus. a ac neque lorem fermentum mi condimentum pellentesque curae condimentum accumsan fringilla, libero posuere euismod potenti urna elementum ac hendrerit porttitor felis lobortis platea, sociosqu nibh cubilia interdum netus ut inceptos facilisis nullam hendrerit. tellus praesent volutpat laoreet morbi commodo lacinia euismod commodo euismod egestas sed, quam id congue quis ultricies suspendisse risus ultrices nulla tincidunt arcu risus, posuere metus proin urna pharetra etiam lacinia eros porttitor nec. commodo porttitor netus lorem sagittis suspendisse, velit morbi lacus ac curabitur, ut lacus sem iaculis. </p>
        <button mat-flat-button (click)="logout()">Logout</button>
    </div>
  </div>